<a href="https://colab.research.google.com/github/whdo787/database/blob/main/db_final_components.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sqlalchemy import create_engine
my_conn = create_engine("sqlite:////content/my_db.db")

In [2]:
r_set=my_conn.execute('''CREATE TABLE "HDD" (
	"ID"	TEXT NOT NULL,
	"model_name"	TEXT,
	"company"	TEXT,
	"capacity_TB"	TEXT,
	"price"	INTEGER,
	"stock"	INTEGER,
	PRIMARY KEY("ID")
);
''')

In [3]:
r_set=my_conn.execute('''CREATE TABLE "RAM" (
	"ID"	TEXT NOT NULL,
	"model_name"	TEXT,
	"capacity"	INTEGER,
	"company"	TEXT,
	"price"	INTEGER,
	"stock"	INTEGER,
	PRIMARY KEY("ID")
);
''')

In [4]:
r_set=my_conn.execute('''CREATE TABLE "SSD" (
	"ID"	TEXT NOT NULL,
	"model_name"	TEXT,
	"capacity"	TEXT,
	"company"	TEXT,
	"price"	INTEGER,
	"stock"	INTEGER,
	PRIMARY KEY("ID")
);
''')

In [5]:
r_set=my_conn.execute('''CREATE TABLE "VGA" (
	"ID"	TEXT NOT NULL,
	"model_name"	TEXT,
	"chipset"	TEXT,
	"company"	TEXT,
	"price"	INTEGER,
	"stock"	INTEGER,
	PRIMARY KEY("ID")
);
''')

In [6]:
r_set=my_conn.execute('''CREATE TABLE "computer_case" (
	"ID"	TEXT NOT NULL,
	"model_name"	TEXT,
	"company"	TEXT,
	"color"	TEXT,
	"price"	INTEGER,
	"stock"	INTEGER,
	PRIMARY KEY("ID")
);
''')

In [7]:
r_set=my_conn.execute('''CREATE TABLE "cpu" (
	"ID"	TEXT NOT NULL,
	"model_name"	TEXT,
	"company"	TEXT,
	"price"	INTEGER,
	"stock"	INTEGER,
	PRIMARY KEY("ID")
);
''')

In [8]:
r_set=my_conn.execute('''CREATE TABLE "mainboard" (
	"ID"	TEXT NOT NULL,
	"model_name"	TEXT,
	"company"	TEXT,
	"price"	INTEGER,
	"stock"	INTEGER,
	PRIMARY KEY("ID")
);
''')

In [9]:
r_set=my_conn.execute('''CREATE TABLE "power_supply" (
	"ID"	TEXT NOT NULL,
	"model_name"	TEXT,
	"company"	TEXT,
	"power"	INTEGER,
	"price"	INTEGER,
	"stock"	INTEGER,
	PRIMARY KEY("ID")
);
''')

In [10]:
r_set = my_conn.execute('''INSERT INTO cpu (id, model_name, company, price, stock) VALUES
('C0001', 'RYZEN 5600', 'AMD', 170000, 100),
('C0002', 'RYZEN 5600X', 'AMD', 210000, 100),
('C0003', 'RYZEN 5800X', 'AMD', 444000, 100),
('C0004', 'RYZEN 5900X', 'AMD', 525000, 100),
('C0005', 'RYZEN 7600X', 'AMD', 380000, 100),
('C0006', 'RYZEN 5950X', 'AMD', 660000, 100),
('C0007', 'RYZEN 3800X', 'AMD', 440000, 100),
('C0008', 'RYZEN 3200G', 'AMD', 126000, 100),
('C0009', 'RYZEN 3700X', 'AMD', 829000, 100),
('C0010', 'RYZEN 3900X', 'AMD', 626000, 100),
('C0011', 'RYZEN 3400X', 'AMD', 460000, 100),
('C0012', 'RYZEN 2700X', 'AMD', 460000, 100),
('C0013', 'RYZEN THREADREAPER PRO 3955WX', 'AMD', 1680000, 100),
('C0014', 'RYZEN THREADREAPER PRO 5965WX', 'AMD', 3720000, 100),
('C0015', 'RYZEN THREADREAPER PRO 5975WX', 'AMD', 5400000, 100),
('C0016', 'i9-13900K', 'INTEL', 860000, 100),
('C0017', 'i7-13700K', 'INTEL', 560000, 100),
('C0018', 'i5-12400F', 'INTEL', 208000, 100),
('C0019', 'i5-13600KF', 'INTEL', 420000, 100),
('C0020', 'i7-13700KF', 'INTEL', 520000, 100),
('C0021', 'i3-12100', 'INTEL', 168000, 100),
('C0022', 'i9-13900KF', 'INTEL', 780000, 100),
('C0023', 'i5-2400', 'INTEL', 250000, 100),
('C0024', 'i5-12100F', 'INTEL', 127000, 100),
('C0025', 'i7-12700F', 'INTEL', 423000, 100),
('C0026', 'i9-12900K', 'INTEL', 700000, 100),
('C0027', 'i9-12900KS', 'INTEL', 950000, 100),
('C0028', 'i9-10900X', 'INTEL', 930000, 100),
('C0029', 'i9-10980XE', 'INTEL', 1500000, 100),
('C0030', 'i9-9900K', 'INTEL', 1650000, 100);
''')

In [11]:

r_set = my_conn.execute('''INSERT INTO VGA (ID, model_name, chipset, company, price, stock) VALUES
('G0001', 'RTX 4090 O24G GAMING OC D6X 24GB', 'RTX 4090', 'ASUS', 3600000, 100),
('G0002', 'RTX 4080 GAMEROCK OC D6X 16GB', 'RTX 4080', 'EMTEK', 1900000, 100),
('G0003', 'RTX 3060 Gaming OC V2 D6 12GB', 'RTX 3060', 'GIGABYTE', 460000, 100),
('G0004', 'ASUS TUF Gaming GEFORCE RTX 3070 Ti O8G OC D6X 8GB', 'RTX 3070 Ti', 'ASUS', 1000000, 100),
('G0005', 'GALAX GEFORCE RTX 3060 Ti D6 8GB LHR', 'RTX 3060 Ti', 'GALAX', 570000, 100),
('G0006', 'ASUS TUF Gaming GEFORCE GTX 1660 SUPER 6G D6 6GB', 'GTX 1660 SUPER', 'ASUS', 290000, 100),
('G0007', 'GALAX GEFORCE GTX 1660 Ti BLACK D D6 6GB', 'GTX 1660 Ti', 'GALAX', 330000, 100),
('G0008', 'GIGABYTE GEFORCE GTX 1660 UDV OC D5 6GB', 'GTX 1660', 'GIGABYTE', 320000, 100), 
('G0009', 'ASUS DUAL GEFORCE RTX 2070 SUPER D6 8GB', 'RTX 2070 SUPER', 'ASUS', 800000, 100),
('G0011', 'ASUS DUAL GEFORCE RTX 2070 D6 8GB', 'RTX 2070', 'ASUS', 600000, 100),
('G0012', 'GIGABYTE GEFORCE GTX 1650 UD2 OC D5 4GB Nano LP', 'GTX 1650', 'GIGABYTE', 220000, 100);
''')

In [12]:
r_set = my_conn.execute('''INSERT INTO RAM (ID, model_name, capacity, company, price, stock) VALUES
('R0001', 'DDR4-3200 8GB', 8, 'SAMSUNG', 25000, 100),
('R0002', 'DDR4-3200 16GB', 16, 'SAMSUNG', 52000, 100),
('R0003', 'DDR4-3200 32GB', 32, 'SAMSUNG', 108000, 100),
('R0004', 'DDR4-3200 4GB', 4, 'SAMSUNG', 21000, 100),
('R0005', 'DDR5-4800 16GB', 16, 'SAMSUNG', 65000, 100),
('R0006', 'DDR4-4800 8GB', 8, 'SAMSUNG', 36000, 100),
('R0007', 'DDR4-4800 32GB', 32, 'SAMSUNG', 137000, 100),
('R0008', 'Crucial DDR4-3200 CL22 32GB', 32, 'MICRON', 114000, 100),
('R0009', 'Crucial DDR4-3200 CL22 16GB', 16, 'MICRON', 55000, 100),
('R0010', 'Crucial DDR4-3200 CL22 8GB', 8, 'MICRON', 26000, 100),
('R0011', 'Crucial DDR5-4800 CL40 32GB', 32, 'MICRON', 166000, 100),
('R0012', 'Crucial DDR5-4800 CL40 16GB', 16, 'MICRON', 69000, 100),
('R0013', 'Crucial DDR5-4800 CL40 8GB', 8, 'MICRON', 34000, 100);
''')

In [13]:

r_set = my_conn.execute('''INSERT INTO SSD (ID, model_name, capacity, company, price, stock) VALUES
('S0001', 'PM9A1 M.2 NVMe 250GB', 250, 'SAMSUNG', 37800, 100),
('S0002', 'PM9A1 M.2 NVMe 500GB', 500, 'SAMSUNG', 69000, 100),
('S0003', 'PM9A1 M.2 NVMe 1TB', 1000, 'SAMSUNG', 112800, 100),
('S0004', 'PM9A1 M.2 NVMe 2TB', 2000, 'SAMSUNG', 238800, 100),
('S0005', '870 EVO  250GB', 250, 'SAMSUNG', 42000, 100),
('S0006', '870 EVO  500GB', 500, 'SAMSUNG', 63000, 100),
('S0007', '870 EVO  1TB', 1000, 'SAMSUNG', 123000, 100),
('S0008', '870 EVO  2TB', 2000, 'SAMSUNG', 267000, 100),
('S0009', '870 EVO  4TB', 4000, 'SAMSUNG', 538800, 100),
('S0010', 'Crucial MX500 250GB', 250, 'MICRON', 42000, 100),
('S0011', 'Crucial MX500 500GB', 500, 'MICRON', 56000, 100),
('S0012', 'Crucial MX500 1TB', 1000, 'MICRON', 100000, 100),
('S0013', 'Crucial MX500 2TB', 2000, 'MICRON', 200000, 100),
('S0014', 'Crucial MX500 4TB', 4000, 'MICRON', 430000, 100) ,
('S0015', 'Crucial P5 Plus M.2 NVMe 500GB', 500, 'MICRON', 88000, 100),
('S0016', 'Crucial P5 Plus M.2 NVMe 1TB', 1000, 'MICRON', 157000, 100),
('S0017', 'Crucial P5 Plus M.2 NVMe 2TB', 2000, 'MICRON', 316000, 100)
;
''')

In [14]:
r_set = my_conn.execute('''INSERT INTO power_supply (ID, model_name, power, company, price, stock) VALUES
('M0001', 'MICRONIX Classic II FULL CHANGE 700W 80PLUS BRONZE 230V EU', 700, 'MICRONIX', 78000, 100),
('M0002', 'EVGA 750 GQ 80PLUS GOLD', 750, 'EVGA', 124000, 100),
('M0003', 'MICRONIX Classic II FULL CHANGE 600W 80PLUS BRONZE 230V EU', 600, 'MICRONIX', 61000, 100),
('M0004', 'MICRONIX Classic II FULL CHANGE 800W 80PLUS BRONZE 230V EU', 800, 'MICRONIX', 92000, 100),
('M0005', 'MICRONIX Classic II FULL CHANGE 500W 80PLUS BRONZE 230V EU', 800, 'MICRONIX', 52000, 100),
('M0006', 'MICRONIX Classic II 850W 80PLUS GOLD 230V EU', 850, 'MICRONIX', 159000, 100),
('M0007', 'MICRONIX Classic II 1050W 80PLUS GOLD 230V EU', 850, 'MICRONIX', 209000, 100),
('M0008', 'AcBEL M88-900', 900, 'AcBEL', 120000, 100);
''')

In [15]:
r_set = my_conn.execute('''INSERT INTO HDD (ID, model_name, capacity_TB, company, price, stock) VALUES
('H0001', 'ST8000DM004', 8, 'Seagate', 166000, 100),
('H0002', 'ST6000DM004', 6, 'Seagate', 161000, 100),
('H0003', 'ST4000DM004', 4, 'Seagate', 106000, 100),
('H0004', 'ST3000DM004', 3, 'Seagate', 120000, 100),
('H0005', 'WD20EZAZ', 2, 'Western Digital', 78000, 100),
('H0006', 'ST1000DM003', 1, 'Seagate', 54000, 100),
('H0007', 'ST14000DM001', 14, 'Seagate', 1180000, 100),
('H0008', 'HDWR11A', 10, 'Toshiba', 370000, 100),
('H0009', 'ST20000NE000', 20, 'Seagate', 890000, 100),
('H0010', 'WUH722020ALE6L4', 40, 'Western Digital', 1600000, 100),
('H0011', 'WD30EZAZ', 3, 'Western Digital', 114800, 100),
('H0012', 'WD40EZAZ', 4, 'Western Digital', 99000, 100),
('H0013', 'HDWD110', 1, 'Toshiba', 63000, 100)
;''')

In [16]:

r_set = my_conn.execute('''INSERT INTO mainboard (ID, model_name, company, price, stock) VALUES
('M0001', 'BIOSTAR H610MH D4', 'BIOSTAR', 93000, 100),
('M0002', 'GIGABYTE B660M DS3H D4', 'GIGABYTE', 138000, 100),
('M0003', 'GIGABYTE H610M H D4', 'GIGABYTE', 105000, 100),
('M0004', 'ASRock B660M Pro RS D4', 'ASROCK', 160000, 100),
('M0005', 'ASUS PRIME A520M-K', 'ASUS', 82000, 100),
('M0006', 'ASUS TUF Gaming B450M-PLUS II', 'ASUS', 115000, 100),
('M0007', 'ASUS PRIME B550M-A', 'ASUS', 140000, 100),
('M0008', 'ASUS TUF Gaming B550M-PLUS STCOM', 'ASUS', 190000, 100),
('M0009', 'GIGABYTE Z790 AORUS ELITE', 'GIGABYTE', 390000, 100),
('M0010', 'ASUS PRIME B660M-K D4', 'ASUS', 137000, 100),
('M0011', 'ASUS EX A320M-GAMING', 'STCOM', 97000, 100),
('M0012', 'ASRock B550M PRO4', 'ASROCK', 148000, 100),
('M0013', 'ASUS TUF Gaming B550-PRO', 'ASUS', 200000, 100),
('M0014', 'GIGABYTE Z790 AORUS ELITE', 'GIGABYTE', 466000, 100),
('M0015', 'ASUS PRIME Z790-P-CSM', 'ASUS', 438000, 100),
('M0016', 'ASUS PRIME Z790-P D4-CSM', 'ASUS', 340000, 100)
;''')

In [17]:
r_set = my_conn.execute('''INSERT INTO computer_case (ID, model_name, company, color, price, stock) VALUES
('K0001', 'DAVEN D6 MESH', 'DAVEN', 'black', 39000, 100),
('K0002', 'SUITMASTER P3000 ZEUS ARGB', 'ABKO', 'black', 83000, 100),
('K0003', 'ABKO G40', 'ABKO', 'white', 60000, 100),
('K0004', 'darkFlash DLX21 RGB MESH', 'ASROCK', 'white', 93000, 100),
('K0005', 'NCORE G30', 'ABKO', 'black', 48000, 100),
('K0006', 'NCORE G40', 'ABKO', 'white', 59000, 100),
('K0007', 'darkFlash DLM21 RGB MESH', 'DAVEN', 'pink', 54000, 100),
('K0008', 'SUITMASTER P1000', 'ABKO', 'white', 79000, 100)
;''')