<a href="https://colab.research.google.com/github/whdo787/database/blob/main/midexam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [119]:
from sqlalchemy import create_engine
my_conn=create_engine("sqlite:////content/12171559.db")
conn=my_conn.connect()

ERROR:sqlalchemy.pool.impl.NullPool:Exception during reset or similar
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/pool/base.py", line 753, in _finalize_fairy
    fairy._reset(pool)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/pool/base.py", line 1004, in _reset
    pool._dialect.do_rollback(self)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/engine/default.py", line 683, in do_rollback
    dbapi_connection.rollback()
sqlite3.ProgrammingError: SQLite objects created in a thread can only be used in that same thread. The object was created in thread id 140526994491264 and this is thread id 140526571960064.
ERROR:sqlalchemy.pool.impl.NullPool:Exception closing connection <sqlite3.Connection object at 0x7fcee311d3b0>
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/pool/base.py", line 753, in _finalize_fairy
    fairy._reset(pool)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/pool/base.py", line 1004, in _reset
    pool._dialect.do_rollback(self)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/engine/default.py", line 683, in do_rollback
    dbapi_connection.rollback()
sqlite3.ProgrammingError: SQLite objects created in a thread can only be used in that same thread. The object was created in thread id 140526994491264 and this is thread id 140526571960064.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/pool/base.py", line 255, in _close_connection
    self._dialect.do_terminate(connection)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/engine/default.py", line 689, in do_terminate
    self.do_close(dbapi_connection)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/engine/default.py", line 692, in do_close
    dbapi_connection.close()
sqlite3.ProgrammingError: SQLite objects created in a thread can only be used in that same thread. The object was created in thread id 140526994491264 and this is thread id 140526571960064.

CREATING TABLES

In [120]:
r_set = my_conn.execute('''
CREATE TABLE booking_system
(
	booking_number       CHAR(18) NOT NULL ,
	driver_license_number CHAR(18) NULL ,
	language             CHAR(18) NULL ,
	pickup_location      CHAR(18) NULL ,
	drop_location        CHAR(18) NULL ,
	start_date	INTEGER NULL,
	finish_date	INTEGER NULL,
	Vehicle_ID           CHAR(18) NULL,
	
	PRIMARY KEY(booking_number)
);



''')

In [121]:
r_set = my_conn.execute('''


CREATE TABLE driver
(
	name                 CHAR(18) NULL ,
	license_number       CHAR(18) NOT NULL ,
	clearence_level      INTEGER NULL ,
	FATL_level           INTEGER NULL ,
	STLVT_level          INTEGER NULL ,
	FATL_date            DATE NULL ,
	STLVT_date           DATE NULL ,
	language             CHAR(18) NULL,
	PRIMARY KEY(license_number)
);


''')

In [122]:
r_set = my_conn.execute('''

CREATE TABLE finished_using
(
	booking_number       CHAR(18) NOT NULL ,
	start_odometer       CHAR(18) NULL ,
	finish_odometer      CHAR(18) NULL ,
	start_date           SMALLDATETIME NULL ,
	finished_date        SMALLDATETIME NULL ,
	Vehicle_ID           CHAR(18) NULL,
	PRIMARY KEY(booking_number)
);

''')

In [123]:
r_set = my_conn.execute('''

CREATE TABLE game_officials
(
	city_id              CHAR(18) NOT NULL ,
	country_name         CHAR(18) NULL ,
	name                 CHAR(18) NULL ,
	role                 CHAR(18) NULL ,
	language             CHAR(18) NULL,
	PRIMARY KEY(city_id)
);

''')

In [132]:
r_set = my_conn.execute('''

CREATE TABLE ITS
(
	Vehicle_ID           CHAR(18) NOT NULL ,
	model                CHAR(18) NULL ,
	manufacturer         CHAR(18) NULL ,
	Registration_ID      CHAR(18) NULL ,
  color                CHAR(18) NULL,
	odometer             INTEGER NULL ,
	passenger_capacity   INTEGER NULL,
	PRIMARY KEY(Vehicle_ID)
);


''')

In [125]:
r_set = my_conn.execute('''

CREATE TABLE languages
(
	ISO_code             CHAR(18) NOT NULL ,
	character_code     CHAR(18) NULL,
	PRIMARY KEY(ISO_code)
);
''')

In [126]:
r_set = my_conn.execute('''

CREATE TABLE maintenance
(
	cost                 CHAR(18) NULL ,
	date                 DATE NULL ,
	action               CHAR(18) NULL ,
	odometer             CHAR(18) NULL ,
	Vehicle_ID           CHAR(18) NOT NULL,
	PRIMARY KEY(Vehicle_ID)
);



''')

In [127]:
r_set = my_conn.execute('''

CREATE TABLE Participating_countries
(
	country_name         CHAR(18) NOT NULL ,
	number_of_participations CHAR(18) NULL ,
	used_language        CHAR(18) NULL 
);

''')

In [131]:
from sqlalchemy.exc import SQLAlchemyError
try: 
  my_conn.execute(''' DROP table ITS;''')
  print( "student table deleted")
except SQLAlchemyError as e:
  error = str(e._dict_['orig'])
  print(error)

student table deleted

INSERTING VALUES

In [133]:
r_set = my_conn.execute('''INSERT INTO 'ITS'
('Vehicle_ID',  'Registration_ID',  'manufacturer', 'color', 'model', 'odometer', 'passenger_capacity') VALUES
('V1000', '2001 ABC', 'Volvo', 'XC90 SE', 'Silver', 4350, 4),
('V1001', '2006 AFD', 'kia', 'k7', 'black', 2195, 4),
('V1002', '2021 AHR', 'tesla', '2020 F', 'white', 509, 4),
('V1003', '2020 DXF', 'ford', 'Transit', 'Silver', 974, 2)
;''')

In [134]:
r_set = my_conn.execute('''INSERT INTO 'maintenance'
('Vehicle_ID',  'action',  'odometer', 'date', 'cost') VALUES
('V1000', 'M', '4350', 20220830, 40),
('V1001', 'M', '2195', 20220822, 50),
('V1002', 'R', '509', 20221010, 900),
('V1003', 'R', '974', 20220720, 1300)
;''')

In [135]:

r_set = my_conn.execute('''INSERT INTO 'game_officials'
('city_id', 'country_name', 'name', 'role', 'language') VALUES
('KS10243', 'Korea', 'Chulsu', 'physician', 'KR'),
('CB21546', 'China', 'xinqiu', 'physician', 'CN'),
('FP21241', 'France', 'bonjour', 'coach', 'FR'),
('ES31231', 'United states', 'Harison', 'judgement', 'EN'),
('ES31246', 'Austrailia', 'Daren', 'physician', 'AU'),
('UT42360', 'United states', 'Ronald', 'coach', 'EN'),
('JT62015', 'Japan', 'Sakura', 'physician', 'JP')
;''')

In [136]:

r_set = my_conn.execute('''INSERT INTO 'languages'
('ISO_code', 'character_code') VALUES
('ISO 3166-2:KR', 'KR'),
('ISO 3166-2:JP', 'JP'),
('ISO 3166-2:US', 'US'),
('ISO 3166-2:CN', 'CN'),
('ISO 3166-2:AU', 'AU'),
('ISO 3166-2:FR', 'FR')
;''')

In [137]:

r_set = my_conn.execute('''INSERT INTO 'driver'
('name', 'license_number', 'clearence_level', 'FATL_level', 'STLVT_level', 'FATL_date', 'STLVT_date', 'language') VALUES
('Youngsu', '23141233', 4, 2, 5, 20200122, 20200130, 'KR'),
('Rainer', '31429322', 2, NULL, NULL, NULL, NULL, 'US'),
('Jerry', '32130239', 1, NULL, 3, NULL, 20180826, 'FR'),
('Sasuke', '8543041', 4, 9, 5, 20170924, 20190321, 'JP'),
('hutao', '72314182', 3, NULL, NULL, NULL, NULL, 'CN'),
('Morgan', '52325233', 2, 8, NULL, 2013-02-13, NULL, 'AU')

;''')

In [138]:

r_set = my_conn.execute('''INSERT INTO 'booking_system'
('booking_number', 'driver_license_number', 'language', 'pickup_location', 'drop_location', 'start_date', 'finish_date', 'Vehicle_ID') VALUES
('0000024', '52325233', 'AU', 'Incheon-airport', 'Incheon-airport', 20221021, 20221023, 'V1000'),
('0000025', '72314182', 'CN', 'Incheon-airport', 'paradisehotel', 20221022, 20221024, 'V1003')
;''')

In [139]:

r_set = my_conn.execute('''INSERT INTO 'finished_using'
('booking_number', 'start_odometer', 'finish_odometer', 'start_date', 'finished_date', 'Vehicle_ID') VALUES
('0000023', '4200', '4350', '2019-12-24 00:00:00', '2019-12-23 00:01:00', 'V1000'),
('0000022', '370', '509', '2022-08-10 07:00:00', '2022-08-12 07:00:00', 'V1002')
;''')

In [140]:
r_set = my_conn.execute('''select * from booking_system''')
for row in r_set:
  print(row)

('0000024', '52325233', 'AU', 'Incheon-airport', 'Incheon-airport', 20221021, 20221023, 'V1000')
('0000025', '72314182', 'CN', 'Incheon-airport', 'paradisehotel', 20221022, 20221024, 'V1003')

In [141]:
r_set = my_conn.execute('''select * from ITS''')
for row in r_set:
  print(row)

('V1000', 'Silver', 'Volvo', '2001 ABC', 'XC90 SE', 4350, 4)
('V1001', 'black', 'kia', '2006 AFD', 'k7', 2195, 4)
('V1002', 'white', 'tesla', '2021 AHR', '2020 F', 509, 4)
('V1003', 'Silver', 'ford', '2020 DXF', 'Transit', 974, 2)

In [142]:
r_set = my_conn.execute('''select * from maintenance''')
for row in r_set:
  print(row)

('40', 20220830, 'M', '4350', 'V1000')
('50', 20220822, 'M', '2195', 'V1001')
('900', 20221010, 'R', '509', 'V1002')
('1300', 20220720, 'R', '974', 'V1003')

In [143]:
r_set = my_conn.execute('''select * from game_officials''')
for row in r_set:
  print(row)

('KS10243', 'Korea', 'Chulsu', 'physician', 'KR')
('CB21546', 'China', 'xinqiu', 'physician', 'CN')
('FP21241', 'France', 'bonjour', 'coach', 'FR')
('ES31231', 'United states', 'Harison', 'judgement', 'EN')
('ES31246', 'Austrailia', 'Daren', 'physician', 'AU')
('UT42360', 'United states', 'Ronald', 'coach', 'EN')
('JT62015', 'Japan', 'Sakura', 'physician', 'JP')

In [144]:
r_set = my_conn.execute('''select * from languages''')
for row in r_set:
  print(row)

('ISO 3166-2:KR', 'KR')
('ISO 3166-2:JP', 'JP')
('ISO 3166-2:US', 'US')
('ISO 3166-2:CN', 'CN')
('ISO 3166-2:AU', 'AU')
('ISO 3166-2:FR', 'FR')

In [145]:
r_set = my_conn.execute('''select * from driver''')
for row in r_set:
  print(row)

('Youngsu', '23141233', 4, 2, 5, 20200122, 20200130, 'KR')
('Rainer', '31429322', 2, None, None, None, None, 'US')
('Jerry', '32130239', 1, None, 3, None, 20180826, 'FR')
('Sasuke', '8543041', 4, 9, 5, 20170924, 20190321, 'JP')
('hutao', '72314182', 3, None, None, None, None, 'CN')
('Morgan', '52325233', 2, 8, None, 1998, None, 'AU')

In [146]:
r_set = my_conn.execute('''select * from finished_using''')
for row in r_set:
  print(row)

('0000023', '4200', '4350', '2019-12-24 00:00:00', '2019-12-23 00:01:00', 'V1000')
('0000022', '370', '509', '2022-08-10 07:00:00', '2022-08-12 07:00:00', 'V1002')

CHECK WHETHER VEHICLE IS AVAILABLE OR NOT

In [93]:
vehicleid= 'V1000'
start = 20221020
finish = 20221023
q= "Select booking_number FROM booking_system WHERE Vehicle_ID='%s' AND start_date>%d AND start_date < %d"%(vehicleid, start, finish)
p= "Select booking_number FROM booking_system WHERE Vehicle_ID='%s' and finish_date>%d and finish_date < %d"%(vehicleid,start,finish)
check1=my_conn.execute(q)
check2=my_conn.execute(p)
for row in check1:
  print(row)
for row in check2:
  print(row)

('0000024',)