<a href="https://colab.research.google.com/github/whdo787/database/blob/main/week9homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
from sqlalchemy import create_engine
my_conn = create_engine("sqlite:////content/WEEK9.db")

In [67]:
r_set = my_conn.execute('''select *
from instructor''')
for row in r_set:
  print(row)

(14365, 'lembr', 'acccounting', 32241)
(15347, 'bawa', 'athletics', 72140)
(16807, 'yazdi', 'athletics', 98333)
(19368, 'wieland', 'pol.sci.', 124651)
(22591, 'dagostino', 'psychology', 59706)
(25946, 'liley', 'languages', 90891)

In [66]:
r_set = my_conn.execute('''select *
from teach''')
for row in r_set:
  print(row)

(43779, 105, 1, 'fall', 2009)
(43779, 105, 2, 'fall', 2002)
(6569, 137, 1, 'spring', 2002)
(90376, 158, 1, 'fall', 2008)
(99052, 158, 2, 'spring', 2008)
(3199, 169, 1, 'spring', 2007)
(3199, 169, 2, 'fall', 2002)

In [87]:
r_set = my_conn.execute('''select courseid, decode(name, null, name, '-') as name
from teach natural left outer JOIN instructor
WHERE semester = 'spring' ''')
for row in r_set:
  print(row)

(137, None)
(158, None)
(169, None)

question: when I try to use decode(name, null, name, '-') as name, the error ocurrs. I don't know what's wrong.

In [89]:
wr_set = my_conn.execute('''select dept_name, count(name) as 'instructor coutnt'
from instructor
group by dept_name''')
for row in r_set:
  print(row)

('acccounting', 1)
('athletics', 2)
('languages', 1)
('pol.sci.', 1)
('psychology', 1)